@model IEnumerable<TesteEntrevista.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Clientes</h1>

<p><a asp-action="Create" class="btn btn-success">Adicionar cliente</a></p>

<table class="table">
    <thead>
        <tr>
            <th scope="col" class="text-center">@Html.DisplayNameFor(model => model.idCliente)</th>
            <th scope="col" class="w-25">@Html.DisplayNameFor(model => model.nmCliente)</th>
            <th scope="col" class="w-25">@Html.DisplayNameFor(model => model.Cidade)</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th scope="row" class="text-center">@Html.DisplayFor(modelItem => item.idCliente)</th>
            <td>@Html.DisplayFor(modelItem => item.nmCliente)</td>
            <td>@Html.DisplayFor(modelItem => item.Cidade)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idCliente" class="btn btn-sm btn-primary">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.idCliente" class="btn btn-sm btn-primary">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
