@model IEnumerable<TesteEntrevista.Models.Venda>

@{
    ViewData["Title"] = "Vendas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vendas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicioanr venda</a>
</p>
<section class="row my-5">
    <form asp-action="Index" class="row gy-2 gx-3 align-items-center">
        <div class="col-md-10">
            <input type="text" name="busca" class="form-control col-10" placeholder="Buscar venda por cliente ou produto" aria-label="Buscar venda por cliente ou produto" />
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-success w-100">Buscar</button>
        </div>
    </form>
</section>
<table class="table">
    <thead>
        <tr>
            <th scope="col" class="text-center">@Html.DisplayNameFor(model => model.idVenda)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Cliente)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.dthVenda)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Produto)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.vlrUnitarioVenda)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.qtdVenda)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.vlrTotalVenda)</th>
            <th scope="col">Ação</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th scope="col" class="text-center">@Html.DisplayFor(modelItem => item.idVenda)</th>
            <td>@Html.DisplayFor(modelItem => item.Cliente.nmCliente)</td>
            <td>@Html.DisplayFor(modelItem => item.dthVenda)</td>
            <td>@Html.DisplayFor(modelItem => item.Produto.dscProduto)</td>
            <td>R$ @Html.DisplayFor(modelItem => item.vlrUnitarioVenda)</td>
            <td>@Html.DisplayFor(modelItem => item.qtdVenda)</td>
            <td>R$ @Html.DisplayFor(modelItem => item.vlrTotalVenda)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idVenda" class="btn btn-sm btn-primary">Editar</a>
                <a asp-action="Delete" asp-route-id="@item.idVenda" class="btn btn-sm btn-primary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
